* {
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bg/13.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: background-image 2s;
}

.main {
    position: absolute;
    top: 6%;
    margin-bottom: 4%;
    width: 500px;
    min-height: 80%;
    left: 50%;
    margin-left: -250px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px 0 20px;
}

.title {
    display: block;
    width: 120px;
    padding: 2px;
    background: #f44336;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.navbar {
    list-style: none;
    position: absolute;
}
.navbar li {
    display: block;
    position: relative;
    width: 67px;
    line-height: 1.6;
    font-size: 20px;
    font-weight: bold;
    text-indent: 10px;
    color: #e91e63;
    cursor: pointer;
}
.navbar li div:first-child {
    text-indent: 7px;
    border-left: 3px solid #e91e63;
}
.navbar li.active div:first-child {
    text-indent: 2px;
    border-left: 8px solid #e91e63;
}
.navbar li div:last-child {
    position: absolute;
    top: 0;
    width: 67px;
    background: #e91e63;
    color: white;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    transition: all 0.5s;
}
.navbar li:hover div:last-child {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}
/* firefox */
@supports not (clip-path: inset(0 0 0 0)) {
    .navbar li div:last-child {
        clip: rect(0 67px 0 0);
    }
    .navbar li:hover div:last-child {
        clip: unset;
    }
}
#nav-c {
    color: #9c27b0;
}
#nav-c div:first-child {
    border-color: #9c27b0;
}
#nav-c div:last-child {
    background: #9c27b0;
}
#nav-2 {
    color: #673ab7;
}
#nav-2 div:first-child {
    border-color: #673ab7;
}
#nav-2 div:last-child {
    background: #673ab7;
}

.btn {
    position: absolute;
    top: 25px;
    right: 35px;
}
.btn svg {
    cursor: pointer;
    padding: 2px;
    border-radius: 18px;
    margin-left: 5px;
}
.btn a {
    display: inline-block;
}
.btn #add {
    background: #3f51b5;
}
.btn #refresh {
    background: #2196f3;
    transition: all 0.5s;
}

#list {
    margin-left: 20px;
    min-height: 200px;
}
#list table {
    margin: 30px auto;
    width: 80%;
    border-collapse: collapse;
}
#list thead td, #list tbody td:first-child, #list tbody td:last-child {
    text-align: center;
}
#list td {
    border-bottom: 1px solid gray;
    padding: 2px;
}
#list tbody tr:nth-child(even) {
    background: rgba(127, 127, 127, 0.2);
}

#form table {
    margin: 60px auto;
}
#form td {
    padding: 5px;
}
#form td svg {
    vertical-align: text-bottom;
}
#form td a {
    display: inline-block;
    float: right;
    color: white;
    background: #03a9f4;
    height: 28px;
    line-height: 28px;
    margin-top: 25px;
    margin-left: 15px;
    padding: 2px 6px;
    border-radius: 8px;
    cursor: pointer;
}
#form a#delete {
    background: #f44336;
}